@page
@model LogInModel
@{
}
<h2>Skriv in "password" Björn. Då är du inloggad.</h2>
<form method="post">
    <input asp-for="Password" placeholer="Enter your password"/><br/>
    <button type="submit">Log in</button>
</form>
@if (@Model.LoginFailedMessage is not "")
{
    <h6>@Model.LoginFailedMessage</h6>
}