@page
@model EventiaWebapp.Pages.Development.IndexModel
@{
}
<form method="post">
    Are you sure you want to reset the database?
    <button type="submit">
        Reset Database
    </button>
</form>