@page
@model EventiaWebapp.Pages.Development.IndexModel
@{
}
<form method="post">
    Är du säker att du vill resetta databasen?
    <button type="submit">
        Reset Database
    </button>
</form>