@using Microsoft.AspNetCore.Identity
@using EventiaWebapp;
@inject SignInManager<EventiaWebapp.Models.User> SignInManager
@inject UserManager<EventiaWebapp.Models.User> UserManager

@{
    var signedIn = SignInManager.IsSignedIn(User);
    var username = UserManager.GetUserName(User);
    var user = await UserManager.GetUserAsync(User);
    IList<string> userRoles;
    List<EventiaWebapp.Models.Event> events = null;
    bool isAdmin = false;
    bool isAttendee = false;
    bool isOrganizer = false;
    if (signedIn)
    {
        userRoles = await UserManager.GetRolesAsync(user);
        isAdmin = userRoles.Contains(@Config.ADMIN_ROLE_NAME);
        isAttendee = userRoles.Contains(@Config.ATTENDEE_ROLE_NAME);
        isOrganizer = userRoles.Contains(@Config.ORGANIZER_ROLE_NAME);
    }
}


<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom mb-3">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse container-fluid justify-content-between">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-page="/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-page="/Events">Events</a>
                </li>
                @if (signedIn && isAttendee)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-page="/User/MyEvents">My Events</a>
                    </li>
                }
            </ul>

            @if (!signedIn)
            {
                <ul class="navbar-nav">
                    <li class="nav-item end-100">
                        <a class="nav-link text-dark" asp-page="/User/Register">Register</a>
                    </li>
                    <li class="nav-item end-100">
                        <a class="nav-link text-dark" asp-page="/User/LogIn">Log In</a>
                    </li>
                </ul>
            }
            else
            {
                <div class="nav-item end-100">
                    <a class="nav-link text-dark" asp-page="/User/Index">@username</a>
                </div>
                <ul class="navbar-nav">
                    @if (isAdmin)
                    {
                        <li class="nav-item end-100">
                            <a class="nav-link nav-pills text-dark" asp-page="/Administrator/Index">Manage Users</a>
                        </li>
                    }
                    @if (isOrganizer)
                    {
                        <li class="nav-item end-100">
                            <a class="nav-link nav-pills text-dark" asp-page="/Organizer/Index">Organize Events</a>
                        </li>
                        <li class="nav-item end-100">
                            <a class="nav-link nav-pills text-dark" asp-page="/Organizer/AddEvent">Add Event</a>
                        </li>

                    }
                    <li class="nav-item end-100">
                        <a class="nav-link text-dark" asp-page="/User/LogOut">Log Out</a>
                    </li>
                </ul>
            }


        </div>
    </div>
</nav>
