@page
@model EventiaWebapp.Pages.User.IndexModel
@{
    var user = Model.CurrentUser;
}

<div class="container d-flex flex-column align-items-start">
    <h3>Your information</h3>
    <div>Email: @user.Email</div>
    <div>Phone-number: @user.PhoneNumber</div>
    <div>First Name: @user.FirstName</div>
    <div>Last Name: @user.LastName</div>
    @*@if (attendee.IsAdmin())
    {
        <a class="btn btn-outline-success fw-bold m-3" asp-page="/Development/Index">Go to developer page</a>
    }*@
</div>