@page
@model EventiaWebapp.Pages.User.LogInModel
@{
    ViewData["Title"] = "Log in";
}

<div class="container d-flex flex-column align-items-center justify-content-center">
    <form class="container d-flex flex-column align-items-center justify-content-center" method="post">
        <h2>Log in to Eventia</h2>
        <div asp-validation-summary="All"></div>
        <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-floating flex-fill mb-0">
                <input class="form-control flex-fill mb-0" asp-for="Email" placeholder="Email"/>
                <label class="form-label" asp-for="Email"></label>
                <span asp-validation-for="Email"></span>
            </div>
        </div>
        <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-floating flex-fill mb-0">
                <input class="form-control flex-fill mb-0" asp-for="Password" placeholder="Password"/>
                <label class="form-label" asp-for="Password"></label>
                <span asp-validation-for="Password"></span>
            </div>
        </div>
        <button class="btn btn-outline-success fw-bold m-3" type="submit">Log in</button>
    </form>
    <table class="table table-hover" style="width: 500px;">
        <thead>
        <tr>
            <th scope="row">Role</th>
            <th scope="row">Email</th>
            <th scope="row">Password</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Admin</td>
            <td>admin@eventia.com</td>
            <td>4Dministrator!</td>
        </tr>
        <tr>
            <td>Organizer</td>
            <td>kims@email.com</td>
            <td>P4ssword!</td>
        </tr>
        <tr>
            <td>Regular User</td>
            <td>markus@email.com</td>
            <td>P4ssword!</td>
        </tr>
        </tbody>
    </table>
</div>