@page
@model EventiaWebapp.Pages.Administrator.IndexModel
@{
    ViewData["Title"] = "Manage Users";
    var users = Model.Users;
}


<div class="container d-flex justify-content-center flex-column w-75">    
    <h2 class="display-4 text-center mb-3">Manage users</h2>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Organizer</th>
    </tr>
    </thead>
    
    <tbody>
    @for (var i = 0; i < users.Count; i++)
    {
        var isOrgan = await Model.IsOrganizer(users[i]);
        var isAdmin = await Model.IsAdmin(users[i]);
        @if (!isAdmin)
        {
            <tr>
                <th scope="row">@users[i].UserName</th>
                <td>@users[i].Email</td>
                <td>
                    <form method="post">
                        @Html.CheckBox("chkName",@isOrgan,new{onclick="this.form.submit();"})
                        <input type="hidden" name="id" value="@users[i].Id"/>
                    </form>
                </td>
            </tr>
        }
    }
    </tbody>
</table>
</div>