@page
@model EventiaWebapp.Pages.Administrator.IndexModel
@{
    ViewData["Title"] = "Manage Users";
    var users = Model.Users;
}

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Organizer</th>
    </tr>
    </thead>
    
    <tbody>
    @for (var i = 0; i < users.Count; i++)
    {
        //TODO: Make it not show admin as a user here.
        var isOrgan = await Model.IsOrganizer(users[i]);
        <tr>
            <th scope="row">@users[i].UserName</th>
            <td>@users[i].Email</td>
            <td>
                <form method="post">
                    @Html.CheckBox("chkName",@isOrgan,new{onclick="this.form.submit();"})
                    <input type="hidden" name="id" value="@users[i].Id"/>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>